.wrapper {
    max-width: 1110px;
    margin: auto; /* 중앙 정렬을 위해 */
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    flex-grow: 1; /* nav가 남은 공간을 차지하게 함 */
}

.main-nav {
    display: flex;
    align-items: center; /* 추가: 수직 정렬 */
    font-size: 1.2rem;
    text-transform: uppercase;
    list-style: none;
    padding: 0; 
    margin: 0; /* 추가: 마진 제거 */
    flex-grow: 1; /* nav 안에서 남은 공간을 차지하게 함 */
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.main-nav li {
    margin: 0 20px; /* 항목 간의 간격 조정 */
}

.main-nav a {
    color: black;
    font-weight: bold;
    line-height: 0;
    text-decoration-line: none;
}


.logo {
    width: 50px;
    margin-left: 20px; /* 로고의 왼쪽 여백 */
}

body {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page-header {
    text-align: center;
    margin: 20px 0;
}

#img_main {
    width: 500px;
    max-width: 100%;
    height: auto;
}

#img {
    width: 500px;
    max-width: 100%;
    height: auto;
}

.progress-bar {
    background-color: lightskyblue ;
}

ul {
    padding: 0;
    margin: 0; /* ul의 기본 마진 제거 */
}

.image-container {
    display: flex;
    justify-content: center;  /* 이미지 중앙 정렬 */
    align-items: center;
    width: 100%; /* 부모 컨테이너의 가로 너비를 가짐 */
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 중앙 정렬 */
}

.start button {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto; /* 중앙 정렬을 위해 auto 마진 사용 */
    margin-top: 20px; /* 버튼 상단 간격 */
    padding: 10px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    background-color: ghostwhite;
    color: black;
    border-color: black;
    border-width: medium;
}

.start button:hover {
    color : ghostwhite;
    background-color:black;
    border-color:black;
}

.start button:active {
    color :ghostwhite;
    background-color:black;
    border-color:black;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 중앙 정렬 */
}

.question button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto; /* 중앙 정렬을 위해 auto 마진 사용 */
    padding: 20px;
    font-size:medium;
    text-align: center;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 상단부터 배치되도록 변경 */
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 중앙 정렬 */
}

.result img {
    margin-bottom: 20px; /* 이미지와 버튼 사이의 간격 조정 */
}

.result button {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto; /* 중앙 정렬을 위해 auto 마진 사용 */
    margin-top: 20px; /* 버튼 상단 간격 */
    padding: 10px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    border-width: medium;
    background-color: ghostwhite;
    color: black;
    border-color: black;
    border-width: medium;
}

.result button:hover {
    color : ghostwhite;
    background-color:black;
    border-color:black;
}

.result button:active {
    color : ghostwhite;
    background-color:black;
    border-color:black;
}


